---
layout: default
title: Mark Wright - About
---
  {% include header.html %}
<div class="container">
<div class="row">
 <div class="page ten columns">
   <p>Hello, my name is Mark Wright.</p>
   <p>I am an interaction and visual designer based in North East England. I work with people and clients across the UK.</p>
   <p>I create designs based on user needs and research. I build and use prototypes to test my ideas to make sure they are usable, accessible and meet the needs of the people who use them.</p>
   <p> I am currently designing services at the <a href="https://www.nhsbsa.nhs.uk/" target="_blank" class="link">NHSBSA</a>. I have previously designed government transactional services for <a href="https://www.gov.uk/government/organisations/hm-revenue-customs" target="_blank" class="link">HM Revenue and Customs</a>.</p>
    {% include social.html %}
</div>
</div>
</div>
