<!-- Documents about icons are here: http://fontawesome.io/icons/ -->
<div class="row">
  <div class="ten columns">
    <hr>
<footer class="footer">
  <div class="footer-link">

  <p>Find me online: <a href="https://twitter.com/markwright785" class="link" target="_blank" role="link">Twitter</a>, <a href="https://dribbble.com/markwright785" class="link" target="_blank">Dribbble</a>, <a href="https://uk.linkedin.com/in/mark-wright-229a808a" target="_blank" class="link">LinkedIn</a>, <a href="https://github.com/markwright785" target="_blank" class="link">GitHub</a>, <a href="https://medium.com/@markwright785" target="_blank" class="link">Medium</a>.</p>
  <p> © 2017 Mark Wright</p>

</footer>
</div>
</div>
