<header class="header">

    <div class="container">
  			<div class="row">
    			 <div class="four columns">
              <h1><a href="{{ site.baseurl }}/index">Mark Wright<span class="green" aria-hidden="true">.</span></a></h1>
           </div>
           <div class="seven columns">
  <nav>
    <ul id="nav">
    <!-- <li {% if page.url == '/about/' %} class="active"{% endif %}>
    <a href="/about/">About</a>
    </li> -->
    <li {% if page.url == '/blog/' %} class="active"{% endif %}>
    <a href="/">Blog</a>
    </li>
    <li {% if page.url == '/projects/' %} class="active"{% endif %}>
    <a href="/projects">Work</a>
    </li>


  </ul>
 </nav>
 </div>
 </div>
</header>
