
nav {
	float: right;
}

nav ul
{
margin: 0;
padding: 0;
width: 1000px;
list-style-type: none;
text-align: center;
display: inline;
}

nav ul li {
	float: left;
	line-height: 1;
  font-size: 28px;
	list-style-type: none;
	font-weight: bold;
  padding-right: 20px;
}

li a {
	border-bottom: 0px;
	transition: color 0.5s ease;


	&:hover,
	&:focus {
		color: $oc-gray-6;
		border-bottom: 0px;
	}
}
.current  {
	  color: blue;
    border-bottom: 2px solid #000;
}
