---
layout: default
---
{% include header.html %}
<div class="container">
<div class="row">
  <div class="page ten columns">
<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">
    <time>{{ page.date | date_to_long_string}}</time>
  </span>


  {{ content }}

  <!-- Disqus -->
  {% if page.comments != false and site.disqus.id %}
  <div class="post-disqus">
      <section id="disqus_thread"></section>
      {% include disqus.html %}
  </div>
  {% endif %}

</div>
</div>
</div>
</div>
