---
layout: default
---



<style>

.back-container{
  padding-bottom: 20px;
}
  .post-date {
    font-weight:bold;
    font-size:20px;
  }

  .back-link {
      font-size: 20px;
      line-height: 1.14286;
      font-family: Arial,sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: inline-block;
      position: relative;
      margin-top: 15px;
      margin-bottom: 15px;
      padding-left: 14px;
      color:#F2F2F2;
  }

  .back-link:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 3px;
      width: 9px;
      height: 9px;
      margin: auto 0;
      -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
      transform: rotate(225deg);
      border: solid;
      border-width: 2px 2px 0 0;
      border-color: #F2F2F2;
  }

  a {
    color:#F2F2F2;
  }

  .post {
    padding-top:40px;
    padding-bottom:40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
  }
  .body{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
  }
  .container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box; }
  .column,
  .columns {
    width: 100%;
    float: left;
    box-sizing: border-box; }

  /* For devices larger than 400px */
  @media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }

  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }

    .one.column,
    .one.columns                    { width: 4.66666666667%; }
    .two.columns                    { width: 13.3333333333%; }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: 30.6666666667%; }
    .five.columns                   { width: 39.3333333333%; }
    .six.columns                    { width: 48%;            }
    .seven.columns                  { width: 56.6666666667%; }
    .eight.columns                  { width: 65.3333333333%; }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.3333333333%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }

    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }

    .one-half.column                { width: 48%; }

    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }

  }
</style>


<div class="container">

<div class="row">
  <div class="ten columns">
<div class="post">
  <div class="back-container">
  <a href="{{ site.baseurl }}/index" class="back-link">Back</a>
  </div>
  <span class="post-date">
    <time>{{ page.date | date_to_long_string}}</time>
  </span>
  <h1 class="post-title">{{ page.title }}</h1>



  {{ content }}



</div>
</div>
</div>
</div>
